lab5/WcfService/WcfClient/Connected Services/ServiceReference1/MyCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPersonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5000/WcfService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5000/WcfService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5000/WcfService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetPersonsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsCount" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAllPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAllPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FilterPersonsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterPersonsByName" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FilterPersonsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterPersonsByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetPersonsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonsCount" message="tns:IPersonService_GetPersonsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonsCountResponse" message="tns:IPersonService_GetPersonsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetAllPersons" message="tns:IPersonService_GetAllPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetAllPersonsResponse" message="tns:IPersonService_GetAllPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonById" message="tns:IPersonService_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonByIdResponse" message="tns:IPersonService_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/AddPerson" message="tns:IPersonService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/AddPersonResponse" message="tns:IPersonService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/UpdatePerson" message="tns:IPersonService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/UpdatePersonResponse" message="tns:IPersonService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/DeletePerson" message="tns:IPersonService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/DeletePersonResponse" message="tns:IPersonService_DeletePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterPersonsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/FilterPersonsByName" message="tns:IPersonService_FilterPersonsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FilterPersonsByNameResponse" message="tns:IPersonService_FilterPersonsByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonsCount">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterPersonsByName">
      <soap:operation soapAction="http://tempuri.org/IPersonService/FilterPersonsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IPersonService" type="tns:IPersonService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPersonService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonsCount">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/GetPersonsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/GetAllPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/GetPersonById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/AddPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterPersonsByName">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/FilterPersonsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:5000/WcfService/endpoint1" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IPersonService" binding="tns:WSHttpBinding_IPersonService">
      <soap12:address location="http://localhost:5000/WcfService/endpoint2" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5000/WcfService/endpoint2</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>