lab5/WcfService/WcfClient/Connected Services/ServiceReference1/WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/WcfService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="iAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iSubResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMulResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDiv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDivResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDivResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iModResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iModResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountAndMaxPrime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="l1" type="xs:int" />
        <xs:element minOccurs="0" name="l2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountAndMaxPrimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CountAndMaxPrimeResult" type="q1:ValueTupleOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>